<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
</div>

<div style="text-align: center">
  <table cellpadding="10px" align="center">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Mobile</th>
    </tr>
    <tr *ngFor="let d of data">
      <td>{{d.sid}}</td>
      <td>{{d.snm}}</td>
      <td>{{d.saddress}}</td>
      <td>{{d.smob}}</td>
      <td><button (click)="onDelete(d.sid)">Delete</button></td>
      <td><button (click)="onUpdate(d.sid)">Update</button></td>
    </tr>
  </table>
</div>
<div style="text-align: center">
  <form [formGroup]="studFrom" (ngSubmit)="onSubmit()">
    <label>Name:<input type="text" formControlName="snm"></label>
    <label>Address:<input type="text" formControlName="saddress"></label>
    <label>Mobile no:<input type="number" formControlName="smob"></label>
    <input type="submit" value="Insert" *ngIf="!update">
    <input type="submit" value="Update" *ngIf="update">
  </form>
</div>


